[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
   from = "/api/*"
  to = "http://123.207.20.145:8000/:splat"
  status = 200
  force = true