[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "https://www.generalgame.work/api/:splat"
  status = 200
  force = true
# ✅ 单页应用（SPA）路由
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200